<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.fisheradelakin.cnjokes"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <uses-sdk
        android:minSdkVersion="3"
        android:targetSdkVersion="19" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".JokeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.fisheradelakin.cnjokes.AlarmPadExtension"
            android:icon="@drawable/ic_launcher"
            android:label="@string/app_name"
            android:permission="com.mindmeapp.extensions.permission.READ_EXTENSION_DATA" >
            <intent-filter>
                <action android:name="com.mindmeapp.extensions.Extension" />
            </intent-filter>

            <meta-data
                android:name="protocolVersion"
                android:value="1" />
            <meta-data
                android:name="worldReadable"
                android:value="true" />
            <meta-data
                android:name="description"
                android:value="@string/alarmpad_extension_description" />
        </service>
    </application>

</manifest>